/* Typography */ 

html {
    font-family: 'Fira Sans', sans-serif; 
}

h1, h2, h3 {
    font-weight: 600; 
}

p {
    font-weight: 300; 
    line-height: 18px; 
}

h2{
    color: rgb(0, 208, 255);
}
/* Layout */ 

.wrapper {
    width: 80%; 
    margin: 0 auto; 
}

.flex {
    display:flex;
    gap: 32px;  
}

#features > div {
    flex: 1; 
}

img {
    max-height: 300px; 
    width: auto; 
}

main section {
    padding: 60px 20px 0 20px; 
}
/* Zebra Stripe Pattern for the Playlist Table  */

table tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
  
  
  /* Give the table cell a padding */
  td { 
    padding: 8px;
  }
  
  /* Give the table header a darker background and white text */
  th {
    background-color: rgb(0, 234, 255);
    color: white;
  }
  /* Navigation Bar Styling */
nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* Link Styling */
nav a {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(247, 62, 198);
    padding: 0.5rem 1rem;
    background-color: rgb(0, 242, 255);
    border-radius: 0.5rem;
    text-decoration: none;
}

/* Hover Styling */
nav a:hover {
    color: #fff;
    background-color: #000;
}

/* Links */
a { 
    color: #0086b3; /* Set link color */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Add font weight */
    padding: 0.25rem; /* Add padding */
    border-radius: 4px; /* Add rounded corners */
    transition: all 0.2s ease-in-out; /* Add animation */
  }
  
  a:hover {
    color: #00a9e0; /* Change link color on hover */
  }

/* Unordered List Style */
ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

/* Ordered List Style */
ol {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    list-style-type: decimal;
    padding: 0;
    margin: 0;
}

ol li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}